{% extends 'temp.html' %}

{% block title %}Register {% endblock %}

{% block body %}

<div class="mt-5 border-bottom border-primary ">
    <h1 >Sign Up</h1>
</div>
<form class="container-fluid" action="{% url 'djangoapp:register' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="exampleInputEmail1">Username</label>
      <input class="form-control"  placeholder="Enter Username" name="uname">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">First Name</label>
      <input class="form-control" placeholder="Enter First Name" name="fname">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Last Name</label>
      <input class="form-control" placeholder="Enter Last Name" name="lname">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input class="form-control" placeholder="Password" name="pwd">
    </div>
    <button class="btn btn-primary">Sign Up</button>
</form>
{% endblock %}